/* Media Queries */

@media (min-width: 1px) and (max-width: 320px) {
  body {
    font-size: 10px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  body {
    font-size: 10px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 3em;
    margin-right: 3em;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  body {
    font-size: 11px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 4em;
    margin-right: 4em;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  body {
    font-size: 13px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (min-width: 600px) and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 6em;
    margin-right: 6em;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  body {
    font-size: 15px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 7em;
    margin-right: 7em;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  header {
    margin-left: 9em;
  }

  .wrapper {
    margin-left: 9em;
    margin-right: 9em;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  body {
    font-size: 17px;
  }

  header {
    margin-left: 10em;
  }

  .wrapper {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }

  header {
    margin-left: 12em;
  }

  .wrapper {
    margin-left: 12em;
    margin-right: 12em;
  }
}

@media print {
  body {
    font-size: 11px;
    -webkit-print-color-adjust: exact;
  }

  header {
    margin-left: 10em;
    margin-top: 3em;
  }

  .wrapper {
    margin-left: 5em;
    margin-right: 5em;
  }

  #buzzwords,
  footer {
    display: none;
  }

  #print-contact {
    display: inline-block;
    position: absolute;
  }
}
