/* Headers */
h1 {
  bottom: 0.5em;
  display: inline-block;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 7.5em;
  font-style: italic;
  font-weight: 700;
  left: -.8em;
  margin: 0;
  position: relative;
}

h2, h3, h4, body, footer {
  font-family: 'Roboto', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h2 {
  color: #6f6f6f;
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}

h3 {
  color: black;
  display: inline-block;
  font-size: 3em;
  font-weight: 300;
  margin: 0.5em 0;
}

h4 {
  color: #383838;
  font-size: 1.8em;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  position: relative;
  vertical-align: bottom;
}

/* Content blocks */
html, body {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

header {
  background-color: yellow;
  color: #383838;
  height: 10em;
  line-height: 625%;
  margin-bottom: 0.1em;
  margin-left: 15em;
  margin-top: 5em;
}

main {
  flex: 1;
  margin-top: 4em;
}

main ul {
  list-style-type: circle;
}

section {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

footer {
  background-color: yellow;
  color: #383838;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin-top: 5em;
  width: 100%;
}

footer ul {
  display: inline;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

footer li {
  display: inline;
}

footer ul a {
  display: inline-block;
  color: #383838;
  text-decoration: none;
}

footer ul a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Classes */
#tag {
  color: yellow;
  text-decoration: line-through;
}

#contact {
  display: none;
}

.date {
  font-size: 0.7em;
  font-weight: 400;
}

.wrapper {
  margin-left: 15em;
  margin-right: 15em;
}

.credits {
  font-size: 1.08em;
}
.credits li {
  margin-right: 0.7em;
}

.social {
  float: right;
  font-size: 1.2em;
}
.social li {
  margin-left: 0.7em;
}

/* Media Queries */
@media (min-width: 1px) and (max-width: 320px) {
  body {
    font-size: 10px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  body {
    font-size: 10px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  body {
    font-size: 11px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  body {
    font-size: 13px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 5em;
    margin-right: 5em;
  }
}
@media (min-width: 600px) and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 6em;
    margin-right: 6em;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  body {
    font-size: 15px;
  }

  header {
    margin-left: 7em;
  }

  .wrapper {
    margin-left: 7em;
    margin-right: 7em;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  header {
    margin-left: 9em;
  }

  .wrapper {
    margin-left: 9em;
    margin-right: 9em;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  body {
    font-size: 17px;
  }

  header {
    margin-left: 10em;
  }

  .wrapper {
    margin-left: 10em;
    margin-right: 10em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }

  header {
    margin-left: 12em;
  }

  .wrapper {
    margin-left: 12em;
    margin-right: 12em;
  }
}

@media print {
  body {
    font-size: 11px;
  }

  header {
    margin-left: 10em;
    margin-top: 3em;
  }

  main {
    margin-top: 2em;
  }

  .wrapper {
    margin-left: 5em;
    margin-right: 5em;
  }

  #buzzwords,
  #whatsnext,
  footer {
    display: none;
  }

  #contact {
    display: block;
  }
}
